@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -5deg);
	}

	30%, 50%, 70%, 90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 5deg);
	}

	40%, 60%, 80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -5deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

li {
	list-style-type: none;
}

section {
	margin: 10px 0;
}

section:first-of-type {
	max-width: 325px;
}

section:nth-of-type(2) {
	background-color: var(--color-gray-100);
	border: 1px solid var(--color-gray-400);
	border-radius: 3px;
	box-shadow: 0 0 15px 0px var(--color-gray-100);
	padding: 25px;
	max-width: 390px;
}

form {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 3vmin 0;
	margin-top: 15px;
}

input {
	appearance: none;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	font-family: var(--font-text);
	padding: 5px 12px;
}

input[type="email"] {
	outline: 1.5px solid var(--color-gray-400);
	width: 100%;
}

input[type="submit"] {
	background-color: var(--color-gray-600);
	color: var(--color-gray-100);
	cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:active {
	background-color: var(--color-black);
}

input:focus {
	outline: 1.5px solid var(--color-gray-500);
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
}

input::placeholder {
	color: var(--color-gray-500);
	user-select: none;
}

img {
	animation: tada 1s;
	width: 60px;
	height: auto;
}

@media screen and (min-width: 850px) {
	body {
		justify-content: center;
	}

	form {
		flex-wrap: nowrap;
		gap: 0 1.5vmin;
	}
}
